<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YeremiWarriors">
        <activity
            android:name=".SplashScreenActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.SplashScreenActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".Home.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".Home.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".Home.HomeFragment"
            android:exported="false" />
        <activity
            android:name=".Home.CustomTwoActivity"
            android:exported="false" />
        <activity
            android:name=".Home.CalculatorActivity"
            android:exported="false" />
    </application>

</manifest>